{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{author.name}}{% endblock %}

{% block body %}
<h1>{{author.name}}</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ path('author_index') }}">Auteurs</a></li>
    <li class="breadcrumb-item active">{{author.name}}</li>
  </ol>
</nav>

{% if author.editions is not empty %}
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
  {% for edition in author.editions %}
  <div class="col mb-4">
    <div class="card h-100 color-block">
      <div class="card-body">
        <h5 class="card-title">{{ edition.name }}</h5>
        {% if edition.paratexts is not empty %}
        <p class="card-text">
          {{ "paratexts" | transchoice(edition.paratexts|length) }}
        </p>
        <a class="btn btn-sm btn-secondary card-link float-right" 
          href="{{ path('edition_display_long', {author: edition.author.name, name: edition.name}) }}">
          Afficher
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
    <div class="alert alert-info">Aucune édition liée à cet auteur.</div>
{% endif %}

{% if isSuperAdmin %}
<div class="row">
  <div class="col">
    <span data-toggle="modal" data-target="#delete-modal" class="btn btn-sm btn-danger">
      <i class="far fa-trash-alt"></i> Supprimer l'auteur
    </span>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Suppression auteur</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir supprimer cet auteur ? Cela supprimera editions et paratextes liés.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            <a href="{{ path('author_remove', {id: author.id}) }}"  class="btn btn-danger">Oui, supprimer</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endif %}

{% endblock %}
