{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Auteurs{% endblock %}

{% block body %}
<h1>Auteurs</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Auteurs</li>
  </ol>
</nav>

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
  {% for author in authors %}
  <div class="col mb-4">
    <div class="card h-100 color-block">
      <div class="card-body">
        <h5 class="card-title">{{ author.name }}</h5>
        {% if author.editions is not empty %}
        <p class="card-text">
          {{ "editions" | transchoice(author.editions|length) }}
        </p>
        <a class="btn btn-sm btn-secondary card-link float-right" href="{{ path('author_display_long', {name: author.name}) }}">
          Afficher
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
