{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  {{"reset_password"|trans}}
{% endblock %}

{% block body %}
<h1>{{"reset_password"|trans}}</h1>
<form method="post">
    <div class="form-group">
      <label for="inputPassword" class="sr-only">{{"password"|trans}}</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{"password"|trans}}" required>
    </div>
    <input type="hidden" name="token" value="{token}">

    <button class="btn btn-primary" type="submit">
        {{"reset"|trans}}
    </button>
</form>
{% endblock %}
