{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{edition.author.name}} - {{edition.name}}{% endblock %}

{% block body %}
<h1>{{edition.author.name}} - {{edition.name}}</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ path('author_index') }}">Auteurs</a></li>
    <li class="breadcrumb-item"><a href="{{ path('author_display', { id: edition.author.id }) }}">{{edition.author.name}}</a></li>
    <li class="breadcrumb-item active">{{edition.name}}</li>
  </ol>
</nav>

{% if edition.paratexts is not empty %}
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
  {% set paratexts = customSort(edition.paratexts) %}
  {% for paratext in paratexts %}
  <div class="col mb-4">
    <div class="card h-100 color-block">
      <div class="card-body">
        <h5 class="card-title">{{ paratext.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ paratext.originalFilename }}</h6>
        <span class="btn-group float-right">
          {% if isAdmin %}
          <a class="btn btn-sm btn-secondary card-link " href="{{ path('paratext_display', {originalFilename: paratext.originalFilename}) }}">
            Vue privée
          </a>
          <a class="btn btn-sm btn-secondary card-link" href="{{ path('paratext_public_display_short', {originalFilename: paratext.originalFilename}) }}">
            Vue publique
          </a>
          {% else %}
          <a class="btn btn-sm btn-secondary card-link" href="{{ path('paratext_public_display_short', {originalFilename: paratext.originalFilename}) }}">
            Voir le paratexte
          </a>
          {% endif %}
          
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
    <div class="alert alert-info">Aucun paratexte lié à cette édition.</div>
{% endif %}

{% if isSuperAdmin %}
<div class="row">
  <div class="col">
    <span data-toggle="modal" data-target="#delete-modal" class="btn btn-sm btn-danger">
      <i class="far fa-trash-alt"></i> Supprimer l'édition
    </span>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Suppression édition</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir supprimer cette édition ? Cela supprimera les paratextes liés.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            <a href="{{ path('edition_remove', {id: edition.id}) }}" class="btn btn-danger">Oui, supprimer</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endif %}

{% endblock %}
