/*import de bootstrap*/
@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  font-size: 13px;
}

/* FOOTER */
#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #EDEDE9;
}

#footer img {
  height: 38px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#footer .links a {
  display: block;
}

#footer .logos a:hover {
  text-decoration: none;
}

/* EVERYWHERE */
body {
  padding-bottom: 200px;
}

h1 {
  margin-bottom: 20px;
  color: black;
  padding: 38px 0 38px 0;
  border-radius: 5px;
  text-align: center;
  background-size: cover;
  background-image: url(../../public/img/ithac-op33.jpg);
}

.navbar .nav-item {
  margin-left: 0.8rem;
}

.breadcrumb {
  background-color: #F0EFEB;
}

.container-fluid {
  padding-top: 10px;
}

:focus, :active, :active:focus {
  outline: none;
}

.color-block {
  background-color: #F0EFEB;
  border: none;
}

.note-hover {
  background-color: lightgrey;
}

.text-greek {
    font-style: normal;
}

#comments-container {
  position: fixed;
  right: 0;
  overflow: auto;
}

#paratext-container {
  counter-reset: section -1;
}

#paratext-container td:nth-child(0n+2){
  text-align: center
}

#paratext-container td:nth-child(0n+2)::before {
  content: "[ " counter(section) " ]"; /* On affiche le compteur */
  counter-increment: section;                /* On incrémente le compteur section */
}


#note-modal .modal-body {
  font-size: 1.2rem;
}

/* SEARCH RESULTS */
[data-markjs] {
  background-color:green;
  color:white;
}

.sorting::after {
  padding-left:1rem;
  color:grey;
  content:"↕";
  font-weight: bold;
  font-size: 1rem;
}

.sorting_asc::after {
  content:"↑";
}

.sorting_desc::after {
  content:"↓";
}
