/* freefont mono */

@font-face {
  font-family: "freefont_mono";
  src: url("../fonts/freefont/FreeMono.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "freefont_mono";
  src: url("../fonts/freefont/FreeMonoOblique.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "freefont_mono";
  src: url("../fonts/freefont/FreeMonoBold.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "freefont_mono";
  src: url("../fonts/freefont/FreeMonoBoldOblique.woff") format("woff");
  font-style: italic;
  font-weight: 900;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "freefont_mono";
}

:root {
  --color-a: #fff;
  --color-b: #004;
  --color-c: #AAC;
  --color-d: #DFDFF8;
  --sophocle: #9656a2;
  --euripide: #369acc;
  --terentius: #95cf92;
  --seneca: #f8e16f;
  --eschylus: #f4895f;
  --plautus: #de324c;
  --aristophane: #6c584c;
}

body {
  background-color: var(--color-a);
  color: var(--color-b);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  height: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--color-c);
  background-color: #E9E9E9;
}

main h1 {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-top: solid 1px var(--color-c);
  border-bottom: double 3px var(--color-c);
  background-color: var(--color-b);
  color: white;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#map_side {
  flex: 1;
  overflow: hidden;
  border-right: double var(--color-c) 3px;
  display: flex;
  flex-direction: column;
}

svg {
  background: var(--color-d);
  flex: auto;
  width: 100%;
}

circle {
  cursor: pointer;
}

#chrono_ui {
  padding: 1rem 2rem 1rem 2rem;
}

#histogram_section {
  height: 280px;
  max-width: 1080px;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#paratxt_list {
  min-height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#info_side {
  max-width: 52rem;
  display: flex;
  max-height: calc(100vh);
  flex-direction: column;
}

#info_side h1 {
  background-color: var(--color-b);
  color: white;
}

#paratxt_list p {
  /* Both of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paratxt_card {
  border-bottom: solid var(--color-c) 1px;
  padding: 1rem 2rem 1rem 2rem;
}

.paratxt_card:hover {
  cursor: pointer;
  background-color: var(--color-d);
}

.paratxt_card h3 {
  font-weight: normal;
  text-decoration: underline;
}

#out_zone {
  fill: var(--color-c) !important;
}

path {
  fill: var(--color-a) !important;
  stroke: var(--color-c) !important;
  stroke-width: 0.2px !important;
}

* {
  transition: opacity 1s, r 1s !important;
}

circle[pubplace] {
  r: 0px !important;
}

circle {
  fill: var(--color-d) !important;
}

#Aristophanes_info span {
  color: var(--aristophane);
  background-color: var(--aristophane);
}

circle[ancient="Aristophanes"] {
  fill: var(--aristophane) !important;
}

#Plautus_info span {
  color: var(--plautus);
  background-color: var(--plautus);
}

circle[ancient="Plautus"] {
  fill: var(--plautus) !important;
}

#Aeschylus_info span {
  color: var(--eschylus);
  background-color: var(--eschylus);
}

circle[ancient="Aeschylus"] {
  fill: var(--eschylus) !important;
}

#Seneca_info span {
  color: var(--seneca);
  background-color: var(--seneca);
}

circle[ancient="Seneca"] {
  fill: var(--seneca) !important;
}

#Terentius_info span {
  color: var(--terentius);
  background-color: var(--terentius);
}

circle[ancient="Terentius"] {
  fill: var(--terentius) !important;
}

#Sophocles_info span {
  color: var(--sophocle);
  background-color: var(--sophocle);
}

circle[ancient="Sophocles"] {
  fill: var(--sophocle) !important;
}

#Euripides_info span {
  color: var(--euripide);
  background-color: var(--euripide);
}

circle[ancient="Euripides"] {
  fill: var(--euripide) !important;
}

text {
  transition: opacity 0.5s !important;
  pointer-events: none;
  font: 4px FreeMono;
  fill: var(--color-b);
}

section#chrono_map {
  flex: 1;
}

.chrono_bar {
  width: 100%;
  margin-top: -0.25rem
}

.chrono_texts {
  margin-top: -0.5rem;
}

.text_count {
  display: inline-block;
  vertical-align: bottom;
}

.text_count_circle {
  border-left: solid var(--color-c) 1px;
  margin-top: 0.5rem;
  mix-blend-mode: darken;
}

.text_count_circle:hover {
  cursor: default;
  border-left: solid var(--color-b) 1px !important;
}

.chrono_graduation {
  margin-top: 1rem;
  border-bottom: solid 1px var(--color-c);
  width: 100%;
  height: 2rem;
  padding-left: 0rem;
  display: flex;
}

.chrono_thumb {
  border-radius: 50%;
  width: 100%;
  height: 1rem;
  width: 1rem;
  margin-top: -0.5rem;
  display: inline-block;
  outline: solid 1px var(--color-c);
  background-color: var(--color-a);
}

.chrono_thumb:hover {
  cursor: ew-resize;
}

.chrono_mark {
  flex: 1;
  border-left: solid 1px var(--color-c);
  vertical-align: top;
  user-select: none;
}

.chrono_mark p {
  pointer-events: none;
  margin-left: 0.5rem;
  font-size: 9pt;
}