{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Carte {% endblock %}

{% block stylesheets %}
    <link href="{{ asset("build/css/carte.css") }}" rel="stylesheet" />
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
 <main>
<!--<h1>Cartographie et chronologie des paratextes par auteurs antiques cités</h1>-->
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<section id="map_side">
<!--<h1 style="border-top:0">Carte</h1>-->
<svg
   version="1.1"
   id="svg"
   width="300"
   height="300"
   viewBox="40 80 190 190"
   sodipodi:docname="pubplaces_XVI_map_without_borders.svg"
   inkscape:version="1.2.1 (9c6d41e410, 2022-07-14, custom)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview1298"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     showgrid="false"
     showguides="true"
     inkscape:zoom="0.7347912"
     inkscape:cx="457.27276"
     inkscape:cy="-278.31035"
     inkscape:window-width="1920"
     inkscape:window-height="1080"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg" />
  <defs
     id="defs6">
    <rect
       x="119.86389"
       y="170.97655"
       width="64.565224"
       height="25.530148"
       id="rect18609" />
  </defs>
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m -39.492196,329.60559 10.801767,-9.50305 5.942382,-3.16113 10.996094,-2.17188 7.8867186,-3.63672 12.40625,-17.07617 5.9472654,-0.56641 -0.833984,4.74903 2.753905,4.35449 10.364257,2.94629 4.30957,1.79199 6.792969,-2.49414 v 4.97266 l 9.417971,3.27923 8.766601,-3.01171 4.063477,-2.98829 7.332031,1.06838 8.808594,-3.66213 6.666016,-3.08978 14.167968,2.09375 16.412114,-2.74219 9.94428,4.60725 9.03808,-0.98829 4.19726,-2.78125 7.32617,3.41407 0.1963,-2.16895 4.96386,-0.41504 2.61328,4.17774 6.85645,-0.39059 5.58301,-3.39844 6.9082,-1.71484 1.09967,2.46108 4.2265,0.48423 0.6426,6.34968 5.91114,-3.87898 2.46777,2.48633 -3.10157,1.7696 0.36914,3.56243 -2.74218,0.60743 -0.57813,4.95312 1.3125,2.71485 4.28125,4.39648 0.50977,53.23246 -225.027316,-36.11758 z"
     id="path13679" />
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m 228.78674,291.32815 -3.68668,3.08088 -3.27222,-0.78042 -4.56882,2.02023 -4.83187,0.0153 -4.80108,-3.19212 -2.24815,1.50431 -3.49727,-0.0899 -1.62826,2.80346 -0.73647,3.19747 5.11116,1.5175 3.60517,2.23161 5.72369,3.4481 5.91164,2.8987 3.03403,1.81189 2.60724,0.89462 1.05916,-4.26439 0.3034,-1.78977 -2.32628,-2.46271 0.86106,-4.18286 4.53159,-8.29854 z"
     id="path13677" />
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m 171.37007,229.879 -1.09666,4.12599 -1.08566,-0.59066 -3.7364,1.77893 -1.83787,1.93692 -0.17054,2.63448 0.70386,0.58159 -0.46832,3.05566 1.98518,2.41335 -0.68764,1.86786 3.77983,2.71373 1.76501,-2.3963 0.90253,-5.4106 1.37772,-1.33697 0.0691,-4.99584 -1.0196,-2.23726 0.8578,-2.43023 -0.31247,-1.8333 z"
     id="path12947" />
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m 169.07963,251.78423 -2.90435,2.27667 -1.90498,1.34347 -4.49998,1.17723 -1.16557,-1.47796 -0.78252,3.63742 2.62916,2.58084 -0.87536,4.44621 0.69887,2.79659 -0.88146,4.342 0.0876,3.20132 1.31755,4.43005 2.0532,0.569 2.67495,-2.97681 4.63987,0.34164 2.54977,-12.10606 -0.54914,-2.3543 1.57295,-2.24459 -0.81025,-4.55161 -1.22957,-0.44746 1.07601,-1.3079 z"
     id="path12949" />
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m 60.217468,87.22918 5.090833,-6.44687 1.543309,-4.74128 -0.28795,-4.59099 -0.02563,-3.556457 4.06007,-1.064043 0.454805,-0.843714 3.442525,-1.444354 0.64397,-3.996571 -0.98657,-0.333376 0.28848,-1.396754 -1.17107,-5.354722 -2.73782,-1.064261 -5.054317,0.933904 2.160317,-2.098993 -1.750352,-2.807126 -2.80384,1.073671 -0.910607,3.295372 0.910607,-3.295372 -4.523324,-0.224956 -2.712032,3.77046 -3.555974,1.462136 5.029716,1.341985 -4.541572,2.037455 -0.501515,2.078105 -2.42022,-2.187155 -2.00136,0.322064 0.09049,-1.412307 -3.430035,-1.496439 -1.800634,1.433348 -0.367326,3.326427 1.313316,2.695838 -2.696791,-0.637329 -2.930245,1.676707 1.36943,3.365613 5.769354,3.708369 -2.932338,0.09103 -1.632476,1.6173 -1.246752,2.70446 -3.201511,-0.5704 0.133995,1.19633 5.208566,1.10102 1.637338,-0.07486 -3.66938,1.07866 -1.722369,-1.13147 -2.598366,0.47305 -0.282028,2.20859 -2.774648,-1.22822 -2.355545,0.89099 0.232368,0.42161 2.322187,0.469345 -2.904964,3.192245 1.762863,2.803435 2.347742,1.101055 -1.702378,3.16515 2.67762,-0.355375 3.60038,1.269135 2.526025,-0.492095 3.240993,-0.152025 0.56865,-2.07853 3.41068,0.69257 4.921439,-2.22877 2.394425,1.08141 1.405032,-1.064755 3.37777,1.787985 z"
     id="path12945" />
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m -18.689068,268.8178 0.179217,-2.84722 3.513517,-4.8098 -0.542727,-3.33653 2.128906,-1.25977 0.01953,-0.875 1.105469,-1.26953 -0.480469,-2.70703 -0.904297,0.63086 -2.25,-1.25195 0.06055,-3.48633 -1.677734,-2.2832 1.564453,-1.60743 0.0293,-1.45507 1.070312,-1.18165 0.810547,-2.40234 1.142578,-0.51562 2.017575,-0.57227 1.0917967,-2.94336 3.359375,-4.01562 -0.1992187,-1.21094 2.6777344,-3.94727 0.6191406,-0.93948 1.9296875,-3.96484 -0.052734,-4.36524 1.30664062,-2.96875 -0.17382812,-3.26367 0.7968746,-2.78705 0.51171875,-2.50588 0.47070315,-3.4434 -0.234375,-2.37109 0.097657,-0.49414 -1.1503906,-2.27735 1.7480469,-3.20312 3.8886718,-1.63281 4.2519524,0.0117 0.4375,-1.05664 5.16211,-1.20312 2.232423,0.0977 1.779297,1.30078 1.048828,2.17773 1.201172,0.0469 0.970703,1.51171 6.873047,0.83008 1.496093,1.40625 2.695313,-1.04101 0.662109,1.35742 16.167969,6.95703 2.30664,-0.59375 1.464844,1.74219 7.501953,1.50781 2.50586,2.36328 1.037109,0.0234 0.853516,0.72461 5.224597,-1.5801 5.341797,-12.26758 0.46875,-0.44535 -0.328125,-1.86523 2.519531,-7.35547 0.05664,-2.23047 1.521484,-1.29883 -2.08789,-1.30273 2.132812,-2.67969 0.478517,-4.08008 -3.207031,-2.54883 -2.597654,-4.22461 -0.974609,-3.35351 1.664062,-1.66211 -2.035157,-3.18168 -1.472656,-0.0547 -0.59375,-2.89263 -3.710938,-1.24021 0.02539,-2.35352 -3.355469,-1.95511 -3.117187,-1.62109 -2.701167,-1.10156 0.195312,-1.28126 -2.365234,-1.77148 1.253906,-1.97265 0.570313,-2.15235 -1.050782,-0.77734 2.558594,-3.30464 2.666016,-0.12695 0.865234,0.082 2.957031,0.19143 1.896484,1.2832 0.810547,-1.09375 4.470703,0.18945 0.947265,1.7207 0.884766,3.39258 0.369141,0.16602 3.722656,-2.31445 1.057617,2.1289 1.286133,-0.94726 2.96875,2.57812 -0.691406,-2.51758 1.363281,-2.03515 -0.05078,-3.08985 -1.705075,-3.96289 -0.246094,-2.375 1.371094,-1.96679 3.160156,2.19336 3.007812,0.64648 -1.18164,2.4668 2.601558,1.67968 4.828125,3.32618 1.013672,-1.1875 1.177741,0.55859 1.16601,-0.55469 -0.98633,-1.5957 2.95508,-2.65234 4.3086,-1.20508 2.1875,0.43164 3.02343,-1.39063 2.13478,-6.31445 1.45898,-3.73047 4.28299,-0.56258 5.17383,-1.12695 4.6914,-2.85938 3.17383,-0.19528 4.67773,-1.57028 -1.43359,-3.30278 2.90213,-0.40819 4.9497,-11.46871 4.10409,3.21652 -2.91431,4.43867 2.51898,1.89454 3.45668,-1.77863 1.97229,-3.50371 -4.03745,-2.65757 1.09086,-4.01221 5.23828,-3.27344 1.31055,-0.10156 1.72656,0.76171 1.76563,-0.25195 1.33007,0.82227 1.08593,-2.34168 2.85938,-1.57617 2.21484,0.46289 3.52734,-0.40625 -0.17578,2.28906 2.75218,-1.61136 0.83008,-1.80664 2.51368,0.83985 -1.66602,-1.98243 1.2207,-0.75 -1.30078,-0.9121 1.14453,-1.07032 -2.22851,-0.814453 1.59179,-1.878906 1.91211,-0.441406 -0.86132,-0.634766 0.36914,-1.154297 -2.34766,-2.804687 1.17383,-3.232422 -0.0312,-3.25 -1.49024,-0.390625 -2.36328,-2.164063 1.4668,-3.09375 h -0.9336 l 1.93555,-11.039062 1.78321,0.730468 -1.61133,-2.521484 3.83789,-3.742188 4.82031,0.05469 4.62109,-5.033203 2.52735,-0.390625 1.71679,-1.34375 1.64838,1.072313 -2.21484,1.996093 0.84961,3.001953 -1.63281,3.777344 -0.68165,3.056643 v 1.783203 l 2.68946,0.439453 2.3164,2.238281 -1.59765,1.257813 -0.91211,3.667969 -1.97071,-2.716797 -0.7871,0.447262 -0.84961,5.082032 -1.05664,1.384765 -1.59766,1.070313 3.01953,-0.484379 2.49808,0.244143 1.01367,2.386719 -1.05274,3.955078 -2.72265,1.199219 -2.01563,-1.212891 -1.625,-2.220703 -0.45703,1.486328 -0.99219,0.607422 0.54493,2.410156 1.83984,1.060547 0.68168,2.771485 -0.9707,1.189453 4.65234,1.900291 1.71289,-1.21484 2.12305,1.08984 -0.80078,1.9375 -2.76758,2.24415 0.44531,0.48437 3.5,-0.88088 1.71289,-1.28906 3.64649,-0.3418 3.14844,-3.78906 4.15429,0.043 1.48633,1.62695 -0.53125,1.39844 2.25586,1.75781 2.54883,-1.16602 2.91992,2.34376 2.72656,2.55859 1.58788,-3.01951 2.60352,-1.0703 3.27929,-0.57617 6.10743,-4.30664 7.71484,-3.54492 8.15231,0.160157 2.43946,2.402344 -1.59766,1.162109 1.25771,2.072551 4.9181,-1.877239 1.5918,-1.677734 0.48828,-4.162109 3.89063,-0.515625 1.73437,0.976562 2.00195,-1.386718 0.875,-1.794922 0.69727,-1.324219 -2.15625,-6.023438 -2.34371,-5.710899 0.0996,-2.794922 1.18555,-5.994141 1.25195,-4.798828 3.01562,-4.902343 3.78711,-2.40625 2.14844,-0.25586 0.11133,2.220703 2.48633,2.181641 1.10742,0.693359 1.57812,2.447266 2.44532,1.40625 1.84179,-1.259766 1.04495,-1.185547 1.19141,-0.644531 -0.54297,-4.707031 -0.51172,-3.177734 0.65625,-3.0625 -0.47461,-1.513672 -2.0332,0.1875 -3.02344,-1.753907 -1.03125,-1.765625 -1.6875,-1.904296 0.47263,-1.244176 -0.78906,-2.113281 -0.0254,-2.119141 -0.6309,-1.751953 2.8164,-2.324219 1.30469,1.005859 1.49414,-1.953124 2.2793,-0.822266 -0.11914,-1.425781 2.22656,-0.916016 1.7959,0.993164 0.52832,-1.333008 1.52539,-0.609375 4.5293,0.173825 0.70508,0.589844 0.37109,-1.292969 1.57221,4e-5 2.20508,1.503907 3.78711,-0.824219 2.31445,0.569336 -0.87687,5.071252 -2.91805,2.259803 -0.11328,1.943359 2.20899,2.546875 1.43562,2.628872 -0.19722,-2.539065 0.52925,-2.123047 0.10157,-2.238281 -0.72266,-0.587891 -0.32422,-1.890625 2.20698,-1.535153 -1.5312,-8.1543 2.63868,-1.6406252 2.77343,-1.8261719 5.85547,-1.2753907 1.56836,0.15625 -3.41602,-0.6542968 -1.32035,-1.4433624 -1.64062,1.171875 -5.05078,-1.5507812 -1.4961,-2.0644532 -1.98047,1.0859375 -1.68164,1.2246094 -3.02245,-1.1035156 -3.18848,2.0488281 -1.41407,-0.014648 -4.74023,3.5205078 -4.94336,1.5 -1.33399,2.9589842 -1.96289,-1.816407 -2.93554,2.03125 -6.6836,0.585938 1.05274,-3.175781 -2.38672,0.140625 -1.41016,-1.392578 0.35938,-1.4082031 -4.54296,0.1386719 -3.49609,-1.6289063 -0.70508,-7.0410156 1.15234,-0.5742187 v -5.0703126 l -2.42578,-5.2636726 39.25585,-11.306396 11.56249,11.491943 5.14845,0.563477 -0.43749,3.723633 -0.27149,5.5214844 2.15039,-1.1699219 3.26367,0.1074219 2.55665,3.9003906 2.45117,0.9355469 -0.58594,1.9472656 1.625,0.6503907 -0.0371,-3.1660157 2.49609,-1.26953122 2.5586,1.17578122 1.9668,-3.53125 -1.4961,-4.9599609 -2.26758,-2.3740234 3.55604,-15.2238172 183.43138,-2.521123 -24.6294,131.478127 -24.45083,88.25899 -9.81933,-3.74119 -3.96876,-0.36033 -4.29869,-1.89009 -3.21499,-1.62017 -5.57031,-2.90429 -5.74406,-1.58548 -3.34961,0.50195 -1.35938,-1.95312 -6.10554,-0.72507 -2.73438,-2.63867 -2.91987,-0.54251 0.26948,-1.41062 -2.01562,-0.22266 0.71874,-0.85937 6.6875,0.12305 -1.43554,-1.22071 1.17578,-0.85937 -1.04492,-3.19727 0.98828,-2.12109 0.66207,-0.45508 2.43555,0.69531 0.58789,-2.11523 -1.56641,-0.375 -0.26953,-2.10938 2.36133,1.48047 -0.12305,-3.25 -4.1543,-2.27734 -1.94531,0.63867 -2.22266,-2.48437 5.89454,-1.47071 v -2.55859 l 6.23046,-4.42774 -1.88566,-4.81812 -5.0205,5.18773 -0.7832,-1.22266 -8.67187,6.17969 -8.5918,6.14257 -5.23633,4.69532 -1.30078,-1.74805 -0.85352,0.51172 1.2168,2.57617 -4.81445,3.3457 4.68945,10.64454 4.08203,-0.20899 3.17969,-3.7207 1.81836,0.61914 1.90039,-1.91602 h 2.23437 l -0.26367,4.58008 -3.21875,0.75391 -1.04492,1.33398 -1.77539,-1.6543 -1.83594,1.39063 0.75782,1.84375 -6.60352,3.82812 -2.54492,4.92579 -6.44922,0.58007 -0.77149,-4.39843 -1.64062,-3.29688 -2.13086,0.5625 -2.36523,-1.14062 -5.4004,0.57812 4.9375,-5.94336 5.01563,-2.62695 -1.90039,-3.5332 -3.0918,1.10742 -0.55859,-1.20703 -6.35742,3.45898 -5.36719,-1.27148 1.57422,-1.16993 -1.04492,-1.00586 4.59961,-1.88476 -7.13868,-2.05078 -0.41992,2.00781 -8.25586,2.75195 -0.81054,5.23243 -3.80079,-2.14649 v 1.79102 l 3.07813,2.20508 -4.5625,6.04101 -2.08399,-2.19727 0.0684,4.53126 1.68164,1.42578 0.47266,6.63867 -4.1914,1.32812 -0.76172,-2.86523 -2.47071,1.92773 1.52928,18.69141 -6.43945,4.81641 0.67382,6.05664 -3.84765,4.84179 0.58789,0.76953 3.31348,-0.94238 0.67285,2.95606 3.3789,2.01171 -0.69336,2.12305 3.48438,3.32617 8.72266,2.6211 12.45898,-2.92379 2.63477,1.07812 5.71093,-1.91406 1.17774,-3.74219 3.16211,-1.02148 6.65429,-6.9707 6.04297,-3.9336 5.94141,-0.41601 8,-2.16407 1.66015,-2.46289 5.88868,4.57032 4.0957,-1.83399 1.42578,2.60156 4.36328,2.57813 2.72657,-3.46289 h 1.98047 l 2.17188,1.72461 3.66015,0.35937 1.4043,-2.0704 3.72266,1.62494 3.19238,-0.2705 3.96094,-2.41016 2.23536,-2.57715 11.14934,-2.11318 11.04927,146.25743 -36.0621,-21.90069 1.43946,-13.81348 0.91991,-10.28711 1.33008,-0.0684 -0.32617,-6.41797 1.91016,-3.81641 -1.04866,-3.12137 0.16992,-3.88672 -3.56055,-3.72651 -0.3789,-2.8125 0.48828,-4.06446 -1.88672,-2.10156 0.4707,-2.14062 2.10938,-1.97852 -0.18555,-2.61719 -3.13281,-3.13867 -0.98242,2.77344 -1.30469,0.22656 -0.66406,2.67188 -1.83008,0.31054 -0.61133,0.79883 -4.12695,-0.67578 -1.87696,-0.76562 -4.27539,4.7832 -1.91015,4.54687 -1.18555,-1.91406 -1.25586,4.20508 -10.78125,3.88867 -6.74414,-4.79687 -14.64062,-1.72657 -1.3086,3.30664 0.89258,2.00782 -1.02734,1.68164 -0.0664,2.27539 -6.12891,3.02344 -1.11718,-1.29102 -3.30079,0.38672 -3.90039,-2.91797 0.66993,-1.60742 -1.40235,-1.05664 -1.91406,1.22461 -4.79688,-0.29883 -2.49805,2.73456 0.0566,-2.67187 2.44922,-2.23633 -0.40039,-1.35937 h -2.23438 l -2.48437,1.52734 -6.19644,0.86626 1.43847,-3.09668 -1.98828,-0.49609 -2.88476,-3.51953 1.03906,-4.14454 -5.87305,-2.16992 0.30469,1.60352 -5.83398,-2.20703 1.65449,-2.344 -1.05681,-2.87685 1.52735,-0.90039 4.08984,2.94532 -2.09963,-3.79686 2.4707,-1.93164 -3.14257,-0.7793 0.88671,-1.6914 -2.18554,-1.59571 1.90836,-3.61143 -1.62516,0.20909 -6.46289,1.64063 0.44726,-4.67383 0.41211,-2.60938 5.42012,-5.49622 4.90234,-2.53906 0.91211,2.42382 2.62305,-0.94531 -1.23828,-1.01953 0.39062,-1.41211 4.61719,0.23828 -0.50196,1.22656 5.38282,-1.02441 4.58007,-0.76074 -3.98828,-0.27539 2.00196,-2.42969 2.15625,-0.23828 3.64843,-2.44141 2.49798,0.14667 0.0449,-1.41602 -4.59375,0.47461 -3.71679,-1.97266 -2.74991,2.36115 -3.50586,-0.61718 -3.20517,1.29705 -2.23633,-1.26367 -1.87882,2.73029 -1.5957,4.4375 -5.96113,3.95716 0.26758,-2.60349 -6.48437,0.69336 -1.33985,-2.34961 -8.10353,-0.5996 -3.02346,1.5371 -3.09766,-0.44336 -1.28515,2.32032 -1.75391,1.09765 -3.90039,0.2207 2.53321,1.91114 4.77929,2.55566 -0.88477,1.39258 -2.95703,-0.89258 0.60352,2.98633 -1.96484,0.38281 -3.94141,-2.20312 3.83008,2.83203 -5.13867,0.58984 -1.53516,-3.32422 -4.92773,-3.17773 -0.82422,5.12695 4.00586,3.92383 0.0254,1.79102 2.67773,1.68554 3.44922,1.74805 -0.94531,1.82422 2.92968,4.27734 2.11524,0.76563 3.7207,0.13476 0.60938,3.00586 2.11914,2.73438 2.24414,0.0684 0.16601,3.43359 -5.81054,-2.99414 0.36328,7.08398 -3.0957,-0.98046 -2.20118,-3.00977 -4.35547,1.91602 0.84376,1.76753 1.75977,0.57618 2.04886,3.71093 -4.11328,1.54492 -2.83203,-2.17578 2.67382,4.97657 0.58789,4.92187 1.59376,3.37305 -2.49415,0.11914 -2.74218,-3.92774 -1.43946,0.30469 -0.22461,5.9336 -2.21484,-1.40821 -1.11912,-5.52343 -2.05859,-1.43165 -0.58592,5.10352 -2.6836,-2.59961 -1.74609,-2.00195 -0.87109,-2.90625 1.28125,-1.29688 -2.75586,-3.83008 -2.08594,0.01 -0.87695,-3.50781 2.0332,-5.67188 2.49023,1.78612 1.16407,-2.11818 11.29509,2.99792 2.28317,-2.19531 -6.29297,-2.30469 -9.62709,2.21693 -1.97852,-2.03516 -1.79492,2.45703 -5.18164,-7.26953 3.31055,-2.14649 -2.44727,-0.37304 -2.14356,0.31738 -3.30761,-2.93652 -3.64844,-5.35743 -1.53906,-3.52343 -4.0957,-1.73242 -1.71094,-2.37696 0.83203,-1.21289 -1.12109,-1.82226 1.1582,-4.11524 1.01172,-9.78711 -4.24805,-1.58008 -2.1582,-3.1875 -5.28516,-2.63476 -15.89843,-12.26172 -7.00782,-1.36914 -6.77929,-6.74414 0.0539,-4.01576 -3.12206,-3.49609 0.041,-4.69727 -4.19429,-5.12112 -4.08601,2.34765 2.57332,2.73242 -2.51953,2.80664 -3.63672,-4.11719 -1,-6.3125 2.71485,-0.70508 -0.60938,-1.41796 -3.87307,0.97269 -10.2754,4.79297 3.01564,0.54883 1.32023,3.51363 -2.32324,1.72561 0.96777,7.37404 2.83985,3.21289 5.91992,4.55469 1.2539,-0.77539 1.35743,1.51367 -0.48633,1.26758 2.09179,3.44726 0.9063,5.55664 5.78728,6.59571 1.33594,0.0625 0.83399,2.36914 2.02148,0.54101 0.98828,1.65235 3.59375,-0.68164 1.4707,0.79101 2.58008,-1.2207 1.40821,3.70703 -2.43165,1.6875 3.375,2.99219 5.97852,1.1289 11.60547,6.80664 0.86328,1.62696 3.76172,1.81054 -0.61523,4.87696 0.21093,3.03125 -2.90625,-1.07813 -2.42383,-2.33203 -0.78515,-3.11914 -2.23633,0.43945 -5.02148,-3.24804 -4.20118,5.5957 0.42383,1.97656 -1.26953,1.66016 1.03711,1.35937 3.00977,1.60744 3.31835,1.83985 -0.49804,3.33789 1.24609,1.02539 -2.88086,2.16895 -2.28906,-0.0713 -2.23047,2.67578 0.60742,1.61523 -0.77929,2.69141 -1.96094,1.24023 -2.49805,4.72852 -2.13672,0.75976 -3.42285,-1.74511 0.38965,-3.77832 1.92383,-2.82618 -1.1875,-2.06445 2.79492,-2.08594 1.625,0.59571 0.51953,-2.12696 -1.1875,-0.73047 -0.41797,-5 -2.33984,-2.05859 -1.30862,-1.58594 -0.11332,-3.86328 -4.97265,0.0586 -0.64942,-1.50392 -2.2373,-2.01368 0.50586,-1.88086 -1.01563,-2.22949 -2.29687,0.45215 -2.93164,-1.48829 1.23045,-1.54296 -1.92383,1.19531 -2.57813,-4.60352 -0.90039,-1.75878 -4.53329,-1.08887 -3.11328,0.69921 -0.65235,-2.31445 -3.41015,-0.75976 -3.5227,-4.61994 -3.54957,-2.91522 -2.93265,-4.90629 -2.63576,-0.45702 -3.96387,-5.06738 -2.05566,-1.59083 -0.33984,-4.75781 -1.70899,-2.1914 -1.1289,-6.45899 -2.49219,-0.83008 -5.71875,-3.7734 -3.30273,-1.50782 -3.41016,2.24219 -2.80567,3.60742 -8.52826,1.75608 -3.50391,3.6836 -1.58984,-0.0244 0.16796,2.19824 -5.17773,0.57813 -0.7168,1.13281 -3.17578,-0.35351 -2.0664,-1.88868 -2.54493,-1.68261 -3.43945,-0.74525 -3.18359,-2.34375 -3.71875,-0.54102 -1.57618,-1.16209 -4.38476,2.78515 -1.6543,-0.75 -2.57031,2.8008 0.92773,1.98816 -1.57435,3.20936 2.01954,3.36328 -2.45899,1.34963 1.17188,3.47851 -3.95117,3.08399 -20.412113,5.05859 -1.679687,3.03906 -1.85547,2.99024 -1.08789,-0.83398 -8.072266,7.1289 -3.347656,5.51172 1.314449,6.02539 2.226562,1.59766 -1.146484,2.26172 -3.240235,1.46777 -3.339843,2.01074 -3.46875,4.42381 -0.132814,3.11233 -2.841797,0.499 -1.03711,-1.08399 -2.773437,-0.13281 -1.716797,1.31055 -1.826172,-0.13867 -3.046875,2.20312 -0.83981,3.56055 -1.914062,1.70703 -3.566406,-1.51563 -1.507813,-0.64843 -1.527344,1.07031 -1.49414,0.0156 -2.302735,-1.4707 -4.271484,0.54102 -1.628906,-1.22657 -5.050782,-1.67386 -2.335937,-0.0156 -4.470703,1.42773 -2.720703,-0.69335 -3.041016,2.80078 -3.140622,2.21199 -1.916016,-1.82715 -4.7617181,-6.5039 0.3671875,-3.36524 -1.1933589,-3.2207 -2.765625,-3.76657 -4.4014925,-1.66916 -4.4714601,0.66779 -6.2539059,-2.02344 -0.665039,-1.62597 z"
     id="path12714"
     sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" />
  <image
     width="258.66666"
     height="213.33333"
     preserveAspectRatio="none"
     xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/4gxYSUNDX1BST0ZJTEUAAQEAAAxITGlubwIQAABtbnRyUkdC IFhZWiAHzgACAAkABgAxAABhY3NwTVNGVAAAAABJRUMgc1JHQgAAAAAAAAAAAAAAAQAA9tYAAQAA AADTLUhQICAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFj cHJ0AAABUAAAADNkZXNjAAABhAAAAGx3dHB0AAAB8AAAABRia3B0AAACBAAAABRyWFlaAAACGAAA ABRnWFlaAAACLAAAABRiWFlaAAACQAAAABRkbW5kAAACVAAAAHBkbWRkAAACxAAAAIh2dWVkAAAD TAAAAIZ2aWV3AAAD1AAAACRsdW1pAAAD+AAAABRtZWFzAAAEDAAAACR0ZWNoAAAEMAAAAAxyVFJD AAAEPAAACAxnVFJDAAAEPAAACAxiVFJDAAAEPAAACAx0ZXh0AAAAAENvcHlyaWdodCAoYykgMTk5 OCBIZXdsZXR0LVBhY2thcmQgQ29tcGFueQAAZGVzYwAAAAAAAAASc1JHQiBJRUM2MTk2Ni0yLjEA AAAAAAAAAAAAABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAAAAAAAAA AAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAAAAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAA AA+EAAC2z2Rlc2MAAAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAFklFQyBo dHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAABkZXNjAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAt IHNSR0IAAAAAAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAt IHNSR0IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAsUmVmZXJlbmNlIFZpZXdpbmcg Q29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAALFJlZmVyZW5jZSBWaWV3aW5nIENv bmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHZpZXcAAAAA ABOk/gAUXy4AEM8UAAPtzAAEEwsAA1yeAAAAAVhZWiAAAAAAAEwJVgBQAAAAVx/nbWVhcwAAAAAA AAABAAAAAAAAAAAAAAAAAAAAAAAAAo8AAAACc2lnIAAAAABDUlQgY3VydgAAAAAAAAQAAAAABQAK AA8AFAAZAB4AIwAoAC0AMgA3ADsAQABFAEoATwBUAFkAXgBjAGgAbQByAHcAfACBAIYAiwCQAJUA mgCfAKQAqQCuALIAtwC8AMEAxgDLANAA1QDbAOAA5QDrAPAA9gD7AQEBBwENARMBGQEfASUBKwEy ATgBPgFFAUwBUgFZAWABZwFuAXUBfAGDAYsBkgGaAaEBqQGxAbkBwQHJAdEB2QHhAekB8gH6AgMC DAIUAh0CJgIvAjgCQQJLAlQCXQJnAnECegKEAo4CmAKiAqwCtgLBAssC1QLgAusC9QMAAwsDFgMh Ay0DOANDA08DWgNmA3IDfgOKA5YDogOuA7oDxwPTA+AD7AP5BAYEEwQgBC0EOwRIBFUEYwRxBH4E jASaBKgEtgTEBNME4QTwBP4FDQUcBSsFOgVJBVgFZwV3BYYFlgWmBbUFxQXVBeUF9gYGBhYGJwY3 BkgGWQZqBnsGjAadBq8GwAbRBuMG9QcHBxkHKwc9B08HYQd0B4YHmQesB78H0gflB/gICwgfCDII RghaCG4IggiWCKoIvgjSCOcI+wkQCSUJOglPCWQJeQmPCaQJugnPCeUJ+woRCicKPQpUCmoKgQqY Cq4KxQrcCvMLCwsiCzkLUQtpC4ALmAuwC8gL4Qv5DBIMKgxDDFwMdQyODKcMwAzZDPMNDQ0mDUAN Wg10DY4NqQ3DDd4N+A4TDi4OSQ5kDn8Omw62DtIO7g8JDyUPQQ9eD3oPlg+zD88P7BAJECYQQxBh EH4QmxC5ENcQ9RETETERTxFtEYwRqhHJEegSBxImEkUSZBKEEqMSwxLjEwMTIxNDE2MTgxOkE8UT 5RQGFCcUSRRqFIsUrRTOFPAVEhU0FVYVeBWbFb0V4BYDFiYWSRZsFo8WshbWFvoXHRdBF2UXiReu F9IX9xgbGEAYZRiKGK8Y1Rj6GSAZRRlrGZEZtxndGgQaKhpRGncanhrFGuwbFBs7G2MbihuyG9oc AhwqHFIcexyjHMwc9R0eHUcdcB2ZHcMd7B4WHkAeah6UHr4e6R8THz4faR+UH78f6iAVIEEgbCCY IMQg8CEcIUghdSGhIc4h+yInIlUigiKvIt0jCiM4I2YjlCPCI/AkHyRNJHwkqyTaJQklOCVoJZcl xyX3JicmVyaHJrcm6CcYJ0kneierJ9woDSg/KHEooijUKQYpOClrKZ0p0CoCKjUqaCqbKs8rAis2 K2krnSvRLAUsOSxuLKIs1y0MLUEtdi2rLeEuFi5MLoIuty7uLyQvWi+RL8cv/jA1MGwwpDDbMRIx SjGCMbox8jIqMmMymzLUMw0zRjN/M7gz8TQrNGU0njTYNRM1TTWHNcI1/TY3NnI2rjbpNyQ3YDec N9c4FDhQOIw4yDkFOUI5fzm8Ofk6Njp0OrI67zstO2s7qjvoPCc8ZTykPOM9Ij1hPaE94D4gPmA+ oD7gPyE/YT+iP+JAI0BkQKZA50EpQWpBrEHuQjBCckK1QvdDOkN9Q8BEA0RHRIpEzkUSRVVFmkXe RiJGZ0arRvBHNUd7R8BIBUhLSJFI10kdSWNJqUnwSjdKfUrESwxLU0uaS+JMKkxyTLpNAk1KTZNN 3E4lTm5Ot08AT0lPk0/dUCdQcVC7UQZRUFGbUeZSMVJ8UsdTE1NfU6pT9lRCVI9U21UoVXVVwlYP VlxWqVb3V0RXklfgWC9YfVjLWRpZaVm4WgdaVlqmWvVbRVuVW+VcNVyGXNZdJ114XcleGl5sXr1f D19hX7NgBWBXYKpg/GFPYaJh9WJJYpxi8GNDY5dj62RAZJRk6WU9ZZJl52Y9ZpJm6Gc9Z5Nn6Wg/ aJZo7GlDaZpp8WpIap9q92tPa6dr/2xXbK9tCG1gbbluEm5rbsRvHm94b9FwK3CGcOBxOnGVcfBy S3KmcwFzXXO4dBR0cHTMdSh1hXXhdj52m3b4d1Z3s3gReG54zHkqeYl553pGeqV7BHtje8J8IXyB fOF9QX2hfgF+Yn7CfyN/hH/lgEeAqIEKgWuBzYIwgpKC9INXg7qEHYSAhOOFR4Wrhg6GcobXhzuH n4gEiGmIzokziZmJ/opkisqLMIuWi/yMY4zKjTGNmI3/jmaOzo82j56QBpBukNaRP5GokhGSepLj k02TtpQglIqU9JVflcmWNJaflwqXdZfgmEyYuJkkmZCZ/JpomtWbQpuvnByciZz3nWSd0p5Anq6f HZ+Ln/qgaaDYoUehtqImopajBqN2o+akVqTHpTilqaYapoum/adup+CoUqjEqTepqaocqo+rAqt1 q+msXKzQrUStuK4trqGvFq+LsACwdbDqsWCx1rJLssKzOLOutCW0nLUTtYq2AbZ5tvC3aLfguFm4 0blKucK6O7q1uy67p7whvJu9Fb2Pvgq+hL7/v3q/9cBwwOzBZ8Hjwl/C28NYw9TEUcTOxUvFyMZG xsPHQce/yD3IvMk6ybnKOMq3yzbLtsw1zLXNNc21zjbOts83z7jQOdC60TzRvtI/0sHTRNPG1EnU y9VO1dHWVdbY11zX4Nhk2OjZbNnx2nba+9uA3AXcit0Q3ZbeHN6i3ynfr+A24L3hROHM4lPi2+Nj 4+vkc+T85YTmDeaW5x/nqegy6LzpRunQ6lvq5etw6/vshu0R7ZzuKO6070DvzPBY8OXxcvH/8ozz GfOn9DT0wvVQ9d72bfb794r4Gfio+Tj5x/pX+uf7d/wH/Jj9Kf26/kv+3P9t////2wBDAAYEBQYF BAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUo KSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgo KCgoKCgoKCgoKCgoKCj/wAARCACgAMIDAREAAhEBAxEB/8QAHAAAAgMBAQEBAAAAAAAAAAAAAgMA AQQFBwYI/8QAPRAAAgIABQIEAwYEAwgDAAAAAQIDEQAEEiExBUETIlFhBnGBBxQjMpGhQlJiwbHR 4RUXJDNyc/DxQ4Ki/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/ 2gAMAwEAAhEDEQA/APy2Hsmwu/JrAXI0ZWMJGUIWnJa9Rs7+21bYCpNGoeHdADc9z64A5IkTLwyC ZHd9WqMA2lHa+2/tgIInjijzDxXEX0jV+ViKJH7j9cAtzbEgUCbr0wEAA/ODVGq9a2wEjj1KzsaR eaIvfjbvgAABHv8A44BoKeCQNfiar58tV+t4BkTokqyvBHJFr3jLEX7WDdb4BJWgDRCkbE9/XAeh fYx8DZX4269JB1TNLkumxoRJmHcKNZFqFvk7XXoDgPl/jTpeW6L8SZ3IZPMDNZeCUosyig9HtWA4 XrgCUNIURFtr0ihuSTgBKkGiNx2wFlCQxQMyrVtXF4CEEAbEe/rgCmoykgIo9E4GAZHEkqTuZUjE a2isDb71QoVfff0wCDuSTwcBF5349MBGosSopb2BN1gJY9BgHl3kJLuqsqADaia2rbvWAGaJoJWj fTqU0dJDD6EbHABWAdlPDeVYp3WKJ3UNKVLGMXuQBzgIYakbSC0IfR4hBUH0+W2+A9g6v8FfCX+7 foue6Z1WPN9fkoTZWOdYzJubC6v4qFV3rYHAeSZ3I5jJOVzkM2VcjUkc0bKzLqIvceoI+hwGew/h oAiDYE77m+T+vb0wF5jLmB2Uuj0xW1Ng13+R7YAlWDwLZ5BMWNDSCumvnd3+2AUqM16VJoWaHA9c B2sj0yDLww5vrkjwZZ/NDAh/GnHqP5U/rI3/AIQ29ArOdXkzce7nKrCAmWy0C1Eik+be7s7Wxst3 OA5k0hlYklmJNknknucAoD05wBwhHmRZH8ONmAZqJ0j1rvgICwLCNjv5dttQwABmCkAkK3IvnAWS R5dqwEYG9weBzgNWUgMygNGfNYR9gCRuRZoX74BMxjeVzCrJEW8oY2QOwJ7nAACnhkaW8TUKN7V3 2/TAWukRyalYvtRHA33vALo4B+Ygly80kU8bRyIaZWFEH3wAKxUGjyNJ+WAIP+AUtvzaqrbirwDV jMmXZgiRolnWxNudvKD3O42GAFpySrAFmAttfms9zgGefMeJ4KBY0TWV1XpUUO/P+uA2wddn8CPL dRjj6hlE2SPMWWjH9DjzL8ga9jgDPTMj1A30jNeFMRf3TOsEb5LJsjfXST2BwA9RyWb8OaXqjtl8 3AsUQgzOoTSg2AQD/CAOeOKwGbK9KzGcBGUAeVUDmKwHNsFAQXbk2DSi6vbbAdApk+gr+J4We6uP /j2eDLf9XaR/b8o76uAGC5+oPm81m89EJSV8Vp3JeTUwFgUbrk+gwGSSONcxIgmDRqW0yKpp642O 9HAUQIlikjmUyGyVWwU37/P2wCMAQ06Dd6u2+AimgaNHn3wFDAWoG5JI22774BkrgoEUKQhP4gFF gfX9MAKqSVXk3wcBQFkDbf1wFAtGxINMLH9sAc0iSEaIxGoUDSGJ39d/XAKwDUR5CdILECz3wEcB aUqVcHzX/lgKCk8AmhZ2wBN4mnwrYhWJ0g2AfXADdhQBR7++AncYBiKHeJJmESH+MpdA99tzgJ4h MyySIr1XlIoEDttgPrOgvnZ8jlB1dsqPhxGYeJnFsKL8wiI8+v0VD89sB6F9p3UvhHM9Eyz/AGfR NFOsSp1OVVrMLFQBI3oA3TEeoBNYDxHMIEZigYKSdIbmsArAaenfcxnIz1EzfdaJbwVBYmjQFkcm gT2F4Bc0iyN5F0IL0rzpF3RPf54BJNm6HpxgGPGFgRrDO/mGlgdIBIII7Ha/lgFGgBR+eAZMjQu0 UgXUDvRB/cYACdQRQoFCrA3PzwEAsjt3vAOWRDHHG0SUpYll2ZrrYnfivTucACozK5VGZFrW1Xp3 59sBTiPwl0l/E1G74raq9+f2wAdht9cBLOAbDLJDIHid0cXRU0Rt/lgLBLO0jvbDfzblv/PfAfXf Zh8JH4z+Kst0sytl8s5KyzO1LEDdb+tjjvgF/aF8Mz/AvxfN09M14kuWYPHNGCvurA9/mNrwHzGa zDZqdppVQSMSzFFC6iSSTQ2/TALjTW25rYnYX29MB2I/hjq7GBjkZxFLGJVlK0gj/nLGlC8bkgb4 BsQ6T02dULx5/NWAZWDHKxe9bNL+y+zDAczP57M9RzBlzU5ldVoMdgqjhQBso9AABgB6bnMxks5F PlJfClja1cV6UbvkEEgg7EE3gOj1PKwZ3Kt1LpqeGkdDNZVTf3ck1qW+YyeP5T5T2JDh4DQ3ixw5 ebxUIslFDglCD3Ha8Ap3Z3MhoHmwKwATSNLI7ubZmLHb1wEpbAOy+oF4Ae+A2wZWOaaGEzR5cutm SYnw9gTdgXvxVc98AiGHxpoY45EV5GrznSFJNCydq98BTR+FK8chFq2klCGGx3ojY4CpDuAhJAJq +avAU3iRFoyWW9mW6/XAUxNKxG18djgKdi7kmhfoKGAr9MBom8EqukSJIF82o3rN7H22r1wAKYxG S2vXqGwNAr3+vGA05XNZjLO8uSeSNQb2Y+SzQ+vv74DrdI6nP1LNQ9O6mjZ/LTyBVV3p42bbVG9E q19twe4OA9J+1P4D+FPhXp/TDkOszZt82oaSDLRRyPrUDVTlttyNhfOA8zy/U+n5F/8AgOjmVjYY 5ydpNQ7jSmgVtxvgPtPj77U838X/AAn0noT5bKZODJrqIy4KKxA28o4o8c84DzByxa3Fahe4r64A 2kcKkLgGNGL6aHer3G/Yd8AETqsmplBUcqb3wGjpvUMx03NLmcpJpkUEG1BDA7FWB2ZSNiDscBt6 hkYM1lm6n0pNGV1AZjL2WOVY8e5jJ/Kx4/Kd6LByZU8NyAQyg1qA2JwEVyGVnUOAKAbj9sAk4B8Z hR1EqeIuk3oerJG36bfpgAR3jcOjEN6jAASTVkmhQs8YAjuqne+57YC2OwpaFV88BfiNasCVdKCk GiN8ADG3JPrgC8QnSpvwlYsE1GhdX/gMAA52wFYBigE0bPpXrgKNBvKTV7XzgH5XKZjOZmODLRPL PI2lUUWScB2sxNF0KAQ9Pnin6hKhWbORsGEQ3Uxx1x3t+42XbdgZ0HMRdRhn6RMkreP+Llx4m4mU flU/1qCtfzBPTAcWbNzPHBB48jZeAMIVJ/IGNkD54CvvN5Q5Y/8ALDl0OkAgmgbNWRQ49cAmWWSU oJJGfQoVdRvSo7D2wA2C5LEkXzX9sBbOXsvsdIHlAF1xgKQUrMyFlG170CeP8DgNfTM9LkM6k0L0 a0MrKGV0IplYcFSNqwGzqmRhkyh6l0rUciWAmgJ1NlZDwpPdT/C3fg7jcOQUPhhwG0XV1sD6YAV0 gtqUtY2o1R9cAIHrgGQvGslzKzJR8qtR423+eABS2oaRZG4rANUKYyzAgg8+p7f33wFRySQyrJHa uh1Ka4I74CFC1HUCzEc7bnAW7E6438PdwS4XivQjt8sAkiu1VgISCTfptgJpPof0wDEUMTqdVFHc 36e36fXAHlREcxGMw2mEkazV0O9DAevfan1f4Ni+GulQfBSeH1CfLrHn5iKdlAFoaNC/4q5qicB4 6BzgNKxSZeCDOxzRK5fyKkn4ikcNXbcYDofESJmDB1eBVWLPW0irxHOK8RfYEkMB6OPTAcdr78mv bbACVOojYkem+AYdLhdKkMo87Fr1b+mApwEk8rB1B2NbHAW+sruwI0hqUiq7X7j9cAeXTUX3jBVd VMefl6nAaOmZyfpU4zEXhurgxvE/mWVNtSOt/lP9rG4BwG7qHT1my4znR9UnT5m0tG3mfLSc6G+g Ol/4gOxBADlZrJZiBo/vCqhli8ZQWG63X67cc4BDwypFHK6MI5L0MRs1bGj3rAABvvgGMjxaSyum pdS2KsHuPbAAducAa/lJFhgCb9RxgKslQu1XzgCGkGms7HvW/bACUd0LgEqKBPocAvAGJpQKEjgD +o4AlIDKSoYDcji8BHZS7FVCgk0t8YCB20kAkK3IvY1gB9f0wFqdJU0DRvfg4Dt/D8gzgzHSJKX7 4Q2XN7JmFvR8g1lD/wBQPbAcqHx4naVAymPysSt6b2og/OsAKQ6su8utF00ApJtvWvWu+AGJbDMr AOvmANAEd9/X274CljdiqqjMWugBd+tYAQd142wF2Tx242wGlZI3EYmvQCNQXYn69vngPrvsv+KO m/CvxnD1LOZSTMZDcPly4I0k3pax5627DcA7YDo/anDkfib4kk6n8KQRxZfNIJ4sgqBHZSN2QDZ9 wwIHmBB2IF4DzVtS+U2K7HscBB6nbAWfMavgdzgBPpgDYKCApLgge1Hv/lgNEmbefMPLIPxXYG0U KPSgoFcV2wCsyY/Hk8ASCLUdIkILAdrrvgF6jRAJo8j1wFEbX74AqiPLMD6Bf9cAbJbEKD5RZoXt 64BmWn8F28kTq6NHUqagurYsPQjscAWXk1ZuLXHDMq+UK/lRhxuRXrzgM5UCqNnvtgCELmAz0PD1 hL1C7IvjnAU6GLw2DgSc0LBX0N/vtgPousZDNdVgTreWhYxz7Z2lNRTgWxbbYOKce5YdsBwWuGHS dDGVQdjZQX+xwCgpbgb1freAKOWSNlZJHVlBClWIIvmvTvgBGrQVH5TuduK/94AljYgk2BV3wN9r wFxDlKUs1ae5v0GAqk8G/OZASG28o4re/n+2A7nQpj1Dps/R2CtmgDNkGYWVfYtGvoWABH9SgfxH ALj6nl+qDw+vRySTn8uehAMw2/jB2kHuab+rtgMXU+lT5KJZ0aPM5FzpjzUJJjY+m+6t/SwB9sBi l8NXXwmZxpF6lretxzxgKjUOWtgnlJF9yO2ADvyMA1pAqsiqjeew9EHiv074DRl+m5vMZSXNQwSP l4jUkgUkIffABl1ML65odQ0MVD0BdbGjzzxgExlQTrXV5SBvVH1wGmPJh0VvEA1C60/64DOxOkNY F7c74BkHhFJlkjd5GUCIq1BWvkit9rGAmZVA9xyiUFQxOnTRI3Fex2wCR78YAwimYhCHRd7PlsYC miIj8RQTEWKgmucB639kf2g5f4V+EvibLT9IizomjiDPI5s22gc2ABZrbAef5jpsHVpmm6JmGlmk Yk5LMELOD6KRSyf/AFpv6cBxJEeGVo5FeOVCVZWFFT6EdsBECkjccjY7fvgC8mhyC4awAO1e5/TA O6plZcjnpcpmHjaSGl1JJrWqvyngjfAMeSBsllcsjQ67MjTeEVZWO2hmvdRQIofxHAYCWCsoJ0mr o7HAMy3ipMkkPiLInnVo/wAyld7HyrnAdzr6+LHB1rLRqqZkNHOiGhDmK89VwGB1r23I/hwHPyWa zfSWkaKdFLIuqEgSJKrb0w3UjvR/xGA9G+yz4E6R9ouezafeV6K0UJco7hoi47oSdVeqm6/mPGA+ L6z8K5jJdVzGVy+a6dmUjkMaypnoQG9wC/GA+xyH2O9Wn+z6T4nmzGSysUbkFMxMoUp2cEE++3tg PhpMp0bKpH956hJnGANx5KLSt/8Acko//gjAfffCH2p5P4b+DusdEyPQcun35NImklMsl0RqYmh8 gAK5wHleanbMSa5GdjwNTXpXsB7YCN5U8NWV9QDml424si+/bY4ABx/D+mAIxMZXRdyL344wE16Z g8IaMg2tE2PrgNEwinSEwxrAEiqQmQvqYXbH+W7AA4wGVg0b6XVlNXR2PtgDkd5GS1W1UKAgA2Hr 6n3wCmJJN8nAdrJeEPhjqbxpIXLZdHZiKDFpDt7Uo/Q4DkZeUQsxaKOTUhWnBIFirHuO2A6sXWzm EWHrUIz8IAVZGbTPGP6ZNyR7MGHoBgPv/gT7Jj8Z9F6r1LpHU4/Ayal0GYTw2Yi9Skb2NgQwJHPB 2wHl2Zi8PNSQ6gSrlb4HP+GAt59eY8Rk1g9pGLXtW55wCdZC6KGm74F/rgBNfr+2ANXZSSCb4JG2 2A7HRpocu/3TPyRfcOpRgSaG1fd2DEI5HYqRdclWPrgOd1LL5jJZuTJ5tNE2XJiZduxP6jfY+mAr KZmfLebKTSpM3lOjY17Ef+bYDO7l2LNuSbOA6cfX+pR9JbpqZydckx1NEHNE+v7DAc3UTs5JXmr7 4C3MZCaAw2Aaze/qMA6eaGaeHVEEiRQjGMEM4H8RsnzH9MBmJwFfXAGSSoUk6RwOwwFrp1jXem99 PNd6wBFlV2CboW2LDerwApTSDxHoE7sRdDAPmy34c08MiPDHJoFkByOzaeQPfsSBgEaW8PWQdJOm /U4DsdLeKPoGcOZSWSBs7lg8aPoLAJMeaNHjtgOK4q8AxB4TOJI0ktSu5NKa5BB5GA6fw/1zNdJz KiLO53L5Z2HjHKvpcqOwJ29cBtkbKfES/gouS6sFuQsQIc2189hE+4/pY/yk0Q4WagminnSTLvC0 TaXjYEGM3VEHcfXAI0ki+3rgK/sMBCbFdu2AJi0jszlmY7k4D2D4S+zyL40+z7OddzfUYclnelRh F8RgfHiA8uoDcMv5R6gAdsB5K0suXzgeKVkliNK6+Uitu2AvLwwyQ5gy5tImji1xoVY+I2oDQKFA 0SbO22AzsFsaCSKB3Fb4CBSSFXzfIYA55nnKa2sIoRdgKA4G2ABqvy3XvgKb8xoAD2wFYBgsgmxt gBuhgCMZZ9MVyWQBpU7k9sBVb6Tsf74C4kkmlWKMFpHYAKOSTgBbVYLXdCr9O2A7MekfB2YLSEM+ fj0oF5qN977Vq/fAcdlZApP8QsUe1kf2wDRF+ESBZrVQwCCxNA9uMBLIurFivngPqM51iDrTQw9b giyoEaLlszApJhUCgriyXSx66lvax5cBx830nN5bORZNoQ80xBgeNtSzKTQKHhgT++3O2AxSxvFK 0UqlJEJVlYUVI5B98BcLPTRK4VZKDXxtuLwEIkiW/Mqyr3Falv8AwsYB0HUM1l4ZIYZnSKT86q1B tq3wGUWe5vAMSVlikQaakABtQTsb29MAeU8FMxE2bR5INXnWNgrFe9GjRwAlNU7jLB3QElbFEqO5 A9sAoc+mAsAs3lUk8kD98BAtqzWo01sTucBGdmYlmJJNk4B0MXi5hYvGiQHbW5pR9awCRRJBJr5Y BkUmhHouGsFQrULB5OArS0zkqoBqzWwHvgJKrR2jBbBPmBu6254rACq3QPfcVvgPTeqfZ91bp32R 9P8AiCcRpksxmWkYNQZQUCrzzZBr54DzGvNWAY5sAA7d/bAKYFSQQQfQ4AmChFIaySbWuMBYjbxE V1cagDxuR64Dp9O6n92gOUz0RzfTJDfhlqaNv54230txfY9wdqC+sdPkjhGegzD57p8r0uYIIIcj 8sg30vQ4verBIwHIFEc0cAWssV8Uu6qNIGrgegwAYBiqulizEMACAByb/wAsBVUt6gLNEd/ngCKD w1ZH1GiWAH5d6/ywAjcALerfADuRWANmUxxqqBWF6nBNt/6wAc84C6HpgCZyyKGF6RS1tW9/XAXF mJoopoo5GWOZQsig7MAQwB+oB+mAVgLHGAKNQ9qFcuSAtYB02VmyzS/eE8GWGXwnifyyK29+U77V v6HAfRRfHXxBH0eHIDqk75SIkDLyHWjA86g1hgbIIPtgMjRdP6wFeBk6bnTt4Mj/AIEn/Q5Np8mO n+ocYDkZ3KZjI5p8vnIpIJk2ZHWiP9MBnuuMAzLiMyATf8vlqNGvQHffAUCWkW7NUKB/wwFupW1a gQxBHcYDZ0XPyZCaWRJUCFCHhkQumYFj8Nh6HnfirBBo4D1L/dr0rP8A2Yz/ABdl+pJkp0Y30+Rx Iy3woN2fa96O/FkPIZgQ++xO/wCuAVxgGJII0lRokYuALYbpRvb37YCozptu47YCtt9sBSkix683 gHZuFstmHiZWVkPDCjgLLrHG6xOxY0NQGmwRuDgDzObfMysxjij1hFKRRhQdIAFAd9vqcA1M/FGi oen5NtIrU4az7nzc4BOtpcukCQIWRmkMiqS5FDYn0FX9TgM52FYAi7eEIz+UHVVf3wFyymQR2qKU UJ5Vqx6n1PvgKikaN1ZTVENvuLHtgKlkaaVpJGZpHJZmY2STybwA3gIORZrAdbI9WdMouW6hAuey CmljkNNF3/DflPlup7g4DQnT3WT/AGj8N5mScQHxdAGnMZeu5UcgfzLY7nTxgOJpGsB2K2LJIwEV WagqkljsAOcBcxZ3LMtMx3AFftgLmy08EcMk0MkaTJriZlIDrZFqe4sEWO4OAcM1OuTMCTuISd4d 6N736c1+mAykE37YCtq98AUhJamvbYA9hgBN7bc/vgCRWKMV01spFi9/QfTARtS3G6gMrG7G98Vg Ify2ecA14GikKThoXA3DDvV19dv1wCTgNX31u0OXr/tL/lgCXMLHC8UJl1MBTghSNqYbcg/PAYzx ucA2IRKxE5coUJHhkfmI2u/fnAKKstWCLFjbAVzgILH1wFYAvLpGzar332rAWNJTctqvYVtWAOCV 8vmElhlkR0a1dCVYe4PY4Dtt1LI9VkZepq2XnNhc9DGLb/uxjZj6stN3IbAYOpdMzWQSKSQrLlpL 8KeFtcbgejev9JojuBgMAJBtSQebusAZ8aWItbvFCANzYUE8fqTgA1HVZJJ9bwFqjyvSKzubal3P qf74AVXVttfO5wFtqZgGJNChZ7YC4zGHJYPpo0FIsHtvgBvY2LwE1bH1OAbGsZW2l0tpbbSTv2H1 /bAGCkjfiCZtMZHIsEDb6XWACcxCUnLq+ihWs2Qa3O3veAQxLEkmydzgNOZgfLN4c66X0hqsGrFi /pgE2ByL2+WAH1wFlyask1sLN1gLQB5BrYKCd2PA/TANy6RNmEDiRo7AIjI1H5WMAmQgyMRxZ7Vg NUExjyE6PDC6ykaHYedGH8p+u44+tYBOYjMMhTWj7A2hsbi/74BXB3G+AvT5NVjmq74DodP6nmOn s5y7KYZaEuXkXXHIPRlOx9jyOxGA9H+zD7Pem/aNNnPu+aHSWghZ2jmfUmsfyMTqK1dgixtu2A83 6zkv9mdXzGVDiYQSlC4Wlaj29sBhZgT7cgDtgIjFTqViGHpscAQ8qK1rfp3wDFRZVYlwtAkbXZ7D AIFbWOMA+N4hlpFky2qQuhWYMRoUXYrg3tv7YAUaFhOXjbUwuPQ1BTfcHkVeAWQQBY2PBwBN5GZd QYA8qdjgAY2BSgV39cBpXIuygibLCxdGZQcBnO3P74CPosaCxtRdiqPf6YC4FjZyJpDGukmwuret hXudsAJA8NTa2Sdu+AgHkDWvNV3wFjR4bWW8SxpA4re/7YCnI1HTdXtfOAh9AbA3wFkaragoJ2GA gTylrXY1V7nACFJBIGw3OAssL22+uA15LPZrLzXlcw8UjjRqDadrvn0vAJ8QmQyK5D2Ter15wAuY jCgBbxAN9hXO2AqGMuXO+lVJYjsPrgAvbAErUCO2ArWwUr2JuvfAFCpkkWMOqhmAtjQHucAWhVlZ WZSASpZdx8xgDBY5eT8XyrpGgtzZvYexwCkvS7BwtLXO5vasAvAXXywH/9k= "
     id="image3443"
     x="-566.46057"
     y="-512.82788" />
  <g
     id="g8"
     transform="translate(0,-22)" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376"
     cx="146.4939"
     cy="186.75903"
     r="2.3400247"
     pubplace="Geneuae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-5"
     cx="160.47668"
     cy="171.53535"
     r="2.3400247"
     pubplace="Basileae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-5-6"
     cx="180.94243"
     cy="198.94141"
     r="2.3400247"
     pubplace="Brixiae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-7"
     cx="161.32468"
     cy="157.76706"
     r="2.3400247"
     pubplace="Argentorati" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-7-2"
     cx="162.62321"
     cy="153.09018"
     r="2.3400247"
     pubplace="Haganoae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-7-3"
     cx="100.61874"
     cy="241.54251"
     r="2.3400247"
     pubplace="Barcinonae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3"
     cx="118.71616"
     cy="148.35715"
     r="2.3400247"
     pubplace="Lutetiae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6"
     cx="169.46387"
     cy="148.50429"
     r="2.3400247"
     pubplace="Heidelbergae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1"
     cx="172.88248"
     cy="138.55237"
     r="2.3400247"
     pubplace="Francoforti ad Moenum" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1-0"
     cx="105.44987"
     cy="109.78518"
     r="2.3400247"
     pubplace="Londonii" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1-0-0"
     cx="171.84605"
     cy="198.25478"
     r="2.3400247"
     pubplace="Mediolani" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1-7"
     cx="203.71931"
     cy="125.87718"
     r="2.3400247"
     pubplace="Lipsiae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1-7-9"
     cx="206.67816"
     cy="119.36557"
     r="2.3400247"
     pubplace="Vittebergae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1-7-8"
     cx="202.19481"
     cy="89.296219"
     r="2.3400247"
     pubplace="Rostochii" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1-7-8-7"
     cx="200.39046"
     cy="200.61653"
     r="2.3400247"
     pubplace="Venetiae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-1-7-6"
     cx="218.18808"
     cy="141.14781"
     r="2.3400247"
     pubplace="Prahae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-2"
     cx="158.62315"
     cy="127.40175"
     r="2.3400247"
     pubplace="Coloniae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-2-9"
     cx="190.8765"
     cy="222.3436"
     r="2.3400247"
     pubplace="Florentiae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-2-9-1"
     cx="199.5849"
     cy="246.54608"
     r="2.3400247"
     pubplace="Romae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-2-9-2"
     cx="181.15912"
     cy="206.88306"
     r="2.3400247"
     pubplace="Parmae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-5"
     cx="189.59421"
     cy="162.77"
     r="2.3400247"
     pubplace="Augustae Vindelicorum" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-5-6"
     cx="191.48145"
     cy="148.90001"
     r="2.3400247"
     pubplace="Nurembergae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-3"
     cx="133.09813"
     cy="121.61943"
     r="2.3400247"
     pubplace="Alost" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-3-9"
     cx="145.7408"
     cy="124.75185"
     r="2.3400247"
     pubplace="Louanii" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-3-9-3"
     cx="132.37012"
     cy="192.06932"
     r="2.3400247"
     pubplace="Lugduni" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-3-6"
     cx="140.67929"
     cy="120.37639"
     r="2.3400247"
     pubplace="Antuerpiae" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-3-6-6"
     cx="140.41974"
     cy="110.81242"
     r="2.3400247"
     pubplace="Lugduni Batauorum" />
  <circle
     style="opacity:0.99;fill:#ff0000;fill-opacity:1;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     id="path16376-3-6-3-6-6-2"
     cx="147.88687"
     cy="110.82286"
     r="2.3400247"
     pubplace="Vltraiecti" />
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m 202.2207,-35.114516 -36.13476,22.936782 -3.05762,10.1093747 -0.16113,5.9335937 2.27539,5.3203125 -0.89648,5.1230471 -3.36523,2.671875 0.39062,2.832031 4.39649,1.884766 -5.28125,4.65039 3.42383,6.251953 3.72656,1.777344 3.84375,3.892578 6.86914,-0.730469 3.31445,-1.796874 2.69727,-3.962891 3.57617,-3.660156 1.85546,-2.232422 5.26563,-0.03125 0.69727,-4.166013 0.0898,-3.412109 2.01172,6.15625 2,1.833984 -0.91211,4.595703 0.88867,5.653321 3.05273,0.771481 -1.72265,2.568363 0.89063,3.935547 6.19355,13.30176 1.63281,3.748047 -1.34492,1.96972 -2.62007,1.760743 -1.42579,-0.585938 -3.36328,3.728516 -2.2832,-1.642578 -1.41992,2.529296 -2.35742,-0.08789 1.25404,6.935547 3.48438,1.404297 0.4668,1.724609 -4.41016,-0.302734 1.40411,3.345704 5.25019,0.968751 0.73828,-2.585938 3.31445,-0.402344 v -1.109375 l -2.8164,-1.282226 2.41796,-1.702149 -1.08105,-2.447263 2.68457,-2.058592 -0.8574,-6.595703 2.55662,5.993164 -0.54883,4.106445 7.98242,-0.171874 2.95019,-1.086914 -0.91113,-4.157227 5.03516,-3.820313 5.1582,-0.0918 3.2674,-4.902347 1.26176,-9.25 1.59961,-4.804688 -0.47461,-1.138672 0.51857,-7.972656 2.56153,-2.257813 -3.27351,-0.910158 5.22852,-4.363279 0.9737,-2.445315 1.61028,1.974612 3.66804,-5.298831 -7.4082,0.01563 -6.87696,-2.539064 6.65235,-0.460939 3.87889,2.40625 5.46875,-2.232422 2.13672,-5.058594 -4.8233,-3.817379 -3.10645,-5.9990231 -3.29199,1.3115234 -1.32129,-3.6533203 1.17774,-4.8867188 -1.69922,-2.1796874 0.49804,-2.0273438 2.61133,0.5664062 -1.81445,-3.0019531 1.70731,-19.8133131 z"
     id="path12769" />
  <path
     style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:bevel;stroke-opacity:1"
     d="m 56.467493,116.87501 4.211915,-1.73242 3.554687,-4.12891 6.388687,-2.72855 3.679687,-1.23828 7.339829,1.06254 3.5,-3.04297 -4.294907,0.39253 -3.40625,-2.50586 -1.037109,-2.16796 -3.042007,0.1807 0.331069,-1.780314 -3.15625,-1.425781 -2.851581,1.615236 -1.364258,-1.928713 2.15918,-3.442383 4.044922,-0.394531 4.064453,-1.123047 1.9375,-2.734375 -0.302735,-3.197265 -2.707011,-1.894532 2.285136,-2.033203 1.203125,-1.427734 3.208985,-0.08594 3.386733,1.136719 1.969714,1.174809 1.23731,-3.014653 -0.902344,-1.982422 2.478516,-0.857422 0.478515,-3.283203 0.812502,-0.351564 -0.525388,-1.728516 -2.814453,-2.263672 -0.736329,-2.890625 2.310547,-2.943359 2.551076,-1.62298 -1.929688,-0.339844 -4.720703,1.683594 -2.166037,-2.300813 -1.095684,2.822299 -1.787109,-3.738281 -0.886719,0.378907 0.0957,2.134765 -1.785156,0.109375 -1.34766,-4.921875 2.93164,-1.335932 2.183594,-2.966797 1.513672,-0.916016 -0.722656,-2.460937 0.554687,-2.746094 -0.912109,-1.343754 -1.701172,0.359375 -3.148442,6.234375 -3.466797,-0.353516 3.792969,-5.730468 1.151367,-4.717774 3.938477,-4.559569 -4.195313,-1.84375 -0.363281,-2.337891 2.332031,0.240235 2.779293,-4.038083 -0.533204,-2.055705 1.796875,-2.38086 0.207032,-2.80957 1.614257,-1.920899 3.848632,1.281253 -2.007814,-3.028323 1.141601,-1.938477 2.750976,-1.776365 0.472657,-1.327148 3.967783,0.710934 1.469727,0.88086 4.539065,0.243163 0.6289,-1.194335 3.15235,1.638672 -1.5,2.003906 -1.03516,2.644531 -4.431649,1.84766 -2.021485,1.830078 -1.945313,1.826172 -0.457031,2.472656 1.75879,-0.937501 1.180664,-1.427734 5.623054,2.48829 3.37695,-0.250006 2.60742,2.298827 0.0342,3.541014 -3.79392,4.730474 -1.93555,2.371094 -1.20507,2.716797 -6.34476,0.261711 5.56934,1.558602 -2.230472,2.361328 -3.900391,1.654294 1.745117,1.069336 1.675781,-2.394526 4.607425,3.738277 0.30925,2.422866 1.76367,2.082031 -0.81152,3.283203 0.3916,6.335938 1.6875,3.041018 3.08398,2.762695 2.17383,6.303711 -1.15039,-0.07422 1.83984,5.935547 -6.32981,-3.425803 5.25462,4.307638 0.7666,4.823243 -2.92578,2.162109 1.98247,2.166016 2.26001,-0.675803 2.20507,0.234376 3.60912,0.66213 2.19531,5.990234 -2.82422,5.46875 -2.45703,1.35352 -4.26927,0.32517 -1.58233,4.91311 3.05475,1.40429 3.01751,0.17965 -1.26171,3.03516 -3.50391,0.99414 -0.79688,1.97851 -1.5664,-1.0039 -4.29883,2.04883 -4.54102,-2.25782 -3.577142,0.17188 -1.640625,-1.875 -5.026367,0.57422 -2.627874,-1.86916 -0.915094,3.29302 -2.219671,-2.34477 -4.853574,-1.99606 -3.864258,-0.10644 -0.737305,2.66211 -3.030273,2.71484 -2.222598,-3.84769 -2.580137,-0.0156 -3.432616,0.70508 -3.412057,2.3125 -1.131839,-2.07812 z"
     id="path12943" />
  <path
     id="out_zone"
     style="opacity:0.99;fill:#000044;fill-opacity:1;stroke-width:3.03842;stroke-linecap:round;stroke-linejoin:round;paint-order:markers fill stroke;stop-color:#000000"
     d="M -572.74219,-513.13281 V 922.19531 H 943.79688 V -513.13281 Z M -71.691406,-10.75 H 458.29688 V 327.41602 H -71.691406 Z" />
</svg>
  <h1>Période sélectionnée</h1>
  <section id="histogram_section">
  </section>
</section>
<section id="info_side">
  <section id="chrono_ui">
  </section>
  <h1>Liste des paratextes (Du plus récent au plus ancien)</h1>
  <section id="paratxt_list">
  </section>
</section>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/runtime.js") }}"></script>
    <script src="{{ asset("build/js/vendor.js") }}"></script>
    <script src="{{ asset("build/js/carte.js") }}"></script>
{% endblock %}
