{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Explorer {% endblock %}

{% block stylesheets %}
    <link href="{{ asset("build/css/explorer.css") }}" rel="stylesheet" />
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
<style>
.leave[data-lang=grc] .leave-title {
    font-style: normal !important;
}
</style>
<div id="explorer-wrapper">
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/runtime.js") }}"></script>
    <script src="{{ asset("build/js/vendor.js") }}"></script>
    <script src="{{ asset("build/js/explorer.js") }}" type="module"></script>
{% endblock %}
