<nav class="navbar navbar-expand navbar-light" style="background-color:#A5A58D">
  <div class=" w-100 order-1 order-md-0">
    <div class="navbar-nav mr-auto">

      <li class="nav-item dropdown active">
        <a class="navbar-brand nav-link" href="{{ path('homepage') }}">
          <i class="fas fa-theater-masks"></i>  {{ appname }}
        </a>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-question"></i> À Propos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
          <a class="dropdown-item" href="{{ path('homepage') ~ "#La_notion_de_paratexte" }}">
            <i class="fas fa-home"></i> Présentation
          </a>

          <a class="dropdown-item" href="{{ path('team') }}">
           <i class="fas fa-users"></i> {{"team"|trans}}
          </a>

          <a class="dropdown-item" href="{{ path('edito_note') }}">
           <i class="fas fa-comment-alt"></i> Note éditoriale et conventions de traduction
          </a>

          <a class="dropdown-item" href="{{ path('manual') }}">
           <i class="fas fa-code"></i> Manuel d'encodage
          </a>

          <a class="dropdown-item" href="{{ path('realisations') }}">
           <i class="fab fa-wpexplorer"></i> Réalisations numériques
          </a>
          
          <a class="dropdown-item" target="_blank" href="{{ path('bibliographie') }}">
            <i class="fas fa-book"></i> Bibliographie
          </a>
           
           <a class="dropdown-item" target="_blank" href="{{ path('mode_emploi') }}">
            <i class="fa fa-info-circle"></i> Mode d'emploi
          </a>
        </div>
      </li>

      {% if not isSuperAdmin and not isAdmin %}
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-file-alt"></i> Paratextes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
          <a class="dropdown-item" href="{{ path('author_index') }}">
            <i class="fas fa-user-friends"></i> Par auteur ancien
          </a>
          <a class="dropdown-item" href="{{ path('paratext_list') }}">
            <i class="fas fa-file-alt"></i> &nbsp; Liste des paratextes
          </a>
        </div>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('author_index') }}">
          <i class="fas fa-user-friends"></i> Auteurs anciens
        </a>
      </li>  

      <li class="nav-item active">
        <a class="nav-link" href="{{ path('paratext_list') }}">
          <i class="fas fa-file-alt"></i> Paratextes
        </a>
      </li>  
      {% endif %}

      <li class="nav-item active">
        <a class="nav-link" target="blank" href="{{ path('explorer') ~ "?hierarchy=author" }}">
          <i class="fas fa-stream"></i> Explorer
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link"  target="blank" href="{{ path('carte') }}">
          <i class="fas fa-map"></i> Visualiser
        </a>
      </li>

      {% if isSuperAdmin %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('admin_upload_xml') }}">
            <i class="fas fa-file-upload"></i> Upload XML
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{{ path('admin_comments') }}">
            <i class='far fa-comment-alt'></i> Commentaires
          </a>
        </li>
      {% endif %}

      <li class="nav-item active">
        <a class="nav-link" href="{{ path('paratext_search') }}">
          <i class="fa fa-search-plus"></i> &nbsp; Rechercher
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" target="_blank" href="https://ithac.hypotheses.org/actualites">
          <i class="fas fa-rss"></i> Actualités
        </a>
      </li>

      <div class="navbar-nav ml-auto">
      {% if isSuperAdmin %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-tools"></i> Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('admin_parameters') }}">
            <i class="fas fa-cogs"></i> {{"parameters"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_list_users') }}">
            <i class="fas fa-users"></i> {{"users"|trans}}
          </a>
        </div>
      </li>
      {% endif %}
      {% if not parameters.userBottom %}
          {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ path('app_register') }}">{{"register"|trans}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ path('app_login') }}">{{"connect"|trans}}</a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> {{ app.user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path('edit_user') }}">
                <i class="far fa-edit"></i> {{"edit_user"|trans}}
              </a>
              <a class="dropdown-item" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i> {{"logout"|trans}}
              </a>
            </div>
          </li>
          {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
</nav>
