{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  Bibliographie
{% endblock %}

{% block body %}
<h1>Bibliographie</h1>

{% include('editorial/bibliographie.htm') %}

{% endblock %}



