{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  Note éditoriale et conventions de traduction
{% endblock %}

{% block body %}
<h1>Note éditoriale et conventions de traduction</h1>

{% include('editorial/edito-notes.html') %}

{% endblock %}



