{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  Manuel d'encodage
{% endblock %}

{% block body %}
<h1>{{"encoding_manual"|trans}}</h1>

{% include('editorial/manual.htm') %}

{% endblock %}



