{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  Réalisations numériques
{% endblock %}

{% block body %}
<h1>Réalisations numériques</h1>

<h2>Le Pensoir</h2>
{% include('editorial/pensoir.html') %}

{% endblock %}



