{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  {{"team"|trans}}
{% endblock %}

{% block body %}
    
<h1>{{"team"|trans}}</h1>

<div>

      <div class="entry-content">
        <h3>Pilotage</h3>
        <ul>
          <li>Coordinatrice scientifique du projet : Malika Bastin-Hammou (Université Grenoble-Alpes, Litt&amp;Arts)</li>
          <li>Responsable scientifique Lyon III : Pascale Paré-Rey (Lyon III, HiSoMA)</li>
        </ul>

        <h3>Laboratoires participant au projet</h3>
        <ul>
          <li>
            <strong>Litt&amp;Arts</strong>
            (Université Grenoble-Alpes, CNRS),
            <a href="http://litt-arts.univ-grenoble-alpes.fr/">http://litt-arts.univ-grenoble-alpes.fr/</a>
          </li>
          <li>
            <strong>HiSoMA</strong>
            (Université Lumière Lyon 2, CNRS, Université Jean Moulin Lyon 3, Université Jean Monnet Saint-Etienne, ENS de Lyon),
            <a href="https://www.hisoma.mom.fr/">https://www.hisoma.mom.fr/</a>
          </li>
          <li>
            <strong>IHRIM
            </strong>(CNRS, ENS de Lyon, Université Clermont Auvergne, Université Jean Monnet Saint-Etienne, Université Jean Moulin Lyon 3, Université Lumière Lyon 2),
            <a href="http://ihrim.ens-lyon.fr/">http://ihrim.ens-lyon.fr/</a>
          </li>
        </ul>


        <h3>
          Membres du consortium<br>
        </h3>
        <ul>
          <li>Malika Bastin-Hammou, PR de grec, UGA, UMR Litt&Arts — malika.bastin@univ-grenoble-alpes.fr &nbsp;<a href="https://www.univ-grenoble-alpes.fr/malika-bastin-hammou-493001.kjsp?RH=2320611992734654">&gt;</a>
          </li>
          <li>Arnaud Bey, IGE, UGA, UMR Litt&Arts — arnaud.bey@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/m-arnaud-bey-532061.kjsp?RH=1464164074977">&gt;</a>
          </li>
          <li>Alexia Dedieu, doctorante puis docteur en grec, UGA, UMR Litt&Arts — alexia.dedieu@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/alexia-dedieu-535557.kjsp?RH=1464164074977">&gt;</a>
          </li>
          <li>Marc Douguet, MCF en littérature française et humanités numériques, UGA, UMR Litt&Arts — marc.douguet@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/marc-douguet-532066.kjsp?RH=UAINTERFR_ANN">&gt;</a>
          </li>
          <li>Mathieu Ferrand, UGA, MCF de latin, UMR Litt&Arts — mathieu.ferrand@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/mathieu-ferrand-543997.kjsp?">&gt;</a>
          </li>
          <li>Anne Garcia-Fernandez, IR, CNRS, UMR Litt&Arts — anne.garcia-fernandez@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/anne-garcia-fernandez-532073.kjsp?RH=UAINTERFR_ANN">&gt;</a>
          </li>
          <li>Sarah Gaucher, docteur en latin, post-doc, Université Jean Moulin Lyon 3, UMR HiSoMA — sarah.gaucher@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/gaucher-sarah">&gt;</a>
          </li>
          <li>Elisabeth Greslou, IGR, UGA, UMR Litt&Arts — elisabeth.greslou@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/elisabeth-greslou-532075.kjsp?">&gt;</a>
          </li>
          <li>Laure Hermand-Schebat, MCF de latin, Université Jean Moulin Lyon 3, UMR HiSoMA — laure.hermand@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/hermand-laure">&gt;</a>
          </li>
          <li>Élysabeth Hue-Gay, IGE, Université Jean Moulin Lyon 3, UMR HiSoMA — elysabeth.hue-gay@mom.fr
            <a href="https://www.hisoma.mom.fr/annuaire/hue-gay-elysabeth">&gt;</a>
          </li>
          <li>Louisa Laj, doctorante, UGA, UMR Litt&Arts — louisa.laj@univ-grenoble-alpes.fr</li>
          <li>Sabine Lardon, PR de langue et littérature françaises du XVIe siècle, Université Jean Moulin Lyon 3, UMR IHRIM — sabine.lardon@univ-lyon3.fr
            <a href="http://ihrim.ens-lyon.fr/auteur/lardon-isabelle">&gt;</a>
          </li>
          <li>Christiane Louette, MCF de littérature française des XVIe-XVIIIe siècles, UGA, UMR Litt&Arts — christiane.louette@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/christiane-louette-534278.kjsp?RH=2320611992734654">&gt;</a>
          </li>
          <li>Emmanuelle Morlock, IR en humanités numériques, CNRS, UMR HiSoMA — emmanuelle.morlock@mom.fr
            <a href="https://www.hisoma.mom.fr/annuaire/morlock-emmanuelle">&gt;</a>
          </li>
          <li>Christian Nicolas, PU de latin, Université Jean Moulin Lyon 3, UMR HiSoMA — christian.nicolas@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/nicolas-christian">&gt;</a>
          </li>
          <li>Pascale Paré-Rey, MCF HDR de latin, Université Jean Moulin Lyon 3, UMR HiSoMA — pascale.pare-rey@univ-lyon3.fr
            <a href="https://www.hisoma.mom.fr/annuaire/pare-rey-pascale">&gt;</a>
          </li>
          <li>Jean-Yves Vialleton, PR de littérature française des XVIe-XVIIe siècles, UGA, UMR Litt&Arts — jean-yves.vialleton@univ-grenoble-alpes.fr
            <a href="https://www.univ-grenoble-alpes.fr/jean-yves-vialleton-533354.kjsp?">&gt;</a>
          </li>
        </ul>

        <h3>Stagiaires et vacataires</h3>
        <ul>
          <li>Ketsiah Briard (étudiante stagiaire, 2020-21)</li>
          <li>Margot Chambolle-Pacaud (étudiante stagiaire, 2020-21)</li>
          <li>Célia Charlois (étudiante stagiaire, 2020-21)</li>
          <li>Dalia Dahr (étudiante stagiaire, 2020-21)</li>
          <li>Julian De Rivas (vacataire, 2022)
            <a href="https://www.hisoma.mom.fr/annuaire/de-rivas-julian">&gt;</a>
          </li>
          <li>Camille Demouchy (étudiant stagiaire, 2019-20)</li>
          <li>Eglantine Déru (étudiante stagiaire, 2020-21)</li>
          <li>Oriane Desit (étudiante stagiaire, 2020-21)</li>
          <li>Maria Diandra Cristache (ingénieure d’études, 2020-21)</li>
          <li>Bérénice Jarrossay (étudiante stagiaire, 2020-21)</li>
          <li>Mendel Leandro Jimenez (étudiant stagiaire, 2020-21)</li>
          <li>Edouard Lebourg (étudiant stagiaire, 2021-2022)</li>
          <li>Marius Massucco (étudiant stagiaire, 2020-21)</li>
          <li>Laurine Oulama (étudiante stagiaire, 2019-20)</li>
          <li>Sandrine Peyrat (étudiante stagiaire, 2018-19)</li>
          <li>Chiara Rossi (étudiante stagiaire, 2019-20)</li>
          <li>Heidi-Morgane Roure (étudiante stagiaire, 2020-21)</li>
          <li>Annelise Salent (étudiante stagiaire, 2020-21)</li>
          <li>Magalie Sauvan (étudiante stagiaire, 2020-21)</li>
          <li>Valérie Svetlana Thirion (étudiante stagiaire, 2020-21)</li>
          <li>Théophane Trédez (étudiant stagiaire, 2021-2022)</li>
          <li>Bastien Vallet (étudiant stagiaire, 2020-21)</li>
        </ul>

        <h3>
          Consultés en tant qu'experts
        </h3>
        <ul>
	  <li>
	    Fanny Corsi  —  Ingénieure ELAN à Litt&amp;Arts (CDD à temps partiel 18 mois, 2023-2024)
	  </li>
	  <li>
	    Serena Crespi —  Ingénieure ELAN à Litt&amp;Arts (CDD 18 mois, 2023-2024)
          <li>
	    Camille Desiles — Ingénieure ELAN à Litt&amp;Arts (CDD 2 ans, 2020-2021)
          </li>
          <li> 
            Antoine Foucher, Université de Caen-Normandie, Centre Michel de Boüard-CRAHAM — antoine.foucher@unicaen.fr
          </li>
          <li>
            Arianna Capirossi, Département de Philologie Classique et d'Études Italiennes de l'Université de Bologne - arianna.capirossi@unibo.it
          </li>
        </ul>

        <hr/>

        <h3>
          Rôles de chacun
        </h3>
        <ul>
          <li>Les responsables de corpus ont supervisé les phases de traitement des paratextes (sélection, transcription, traduction, encodage, annotation) à l’auteur antique dont ils étaient en charge: 
            <ul>  
              <li>Malika Bastin-Hammou: Aristophane, Eschyle</li>
              <li>Alexia Dedieu: Euripide</li>
              <li>Mathieu Ferrand: Plaute</li>
              <li>Sarah Gaucher: Eschyle, Sophocle</li>
              <li>Laure Hermand-Schebat: Térence</li>
              <li>Alexia Dedieu: Euripide</li>
              <li>Pascale Paré-Rey: Sénèque</li>
            </ul>
          </li>
          <li>Christian Nicolas a traduit des paratextes à chaque auteur, relu et harmonisé les traductions.</li>
          <li>Sabine Lardon, Christiane Louette, Jean-Yves Vialleton ont collaboré aux traductions et aux annotations</li>
          <li>Elisabeth Greslou et Élysabeth Hue-Gay ont élaboré, en lien avec les responsables de corpus, le manuel d'encodage, ont formé les stagiaires à la TEI et ont répondu aux questions ponctuelles des responsables de corpus.</li>
          <li>Arnaud Bey et Anne Garcia Fernandez ont élaboré le scénario de transformation XSLT des fichiers TEI et le laboratoire numérique (Pensoir) et les ont fait évoluer; ils ont également fait évoluer les visualisations (Carte, XML Explorer, Détail).</li>
          <li>
          Maxime Bouton et Vincent Maillard ont élaboré les visualisations (Carte, XML Explorer, Détail)</li>
          <li>
          Sarah Gaucher a contribué au balisage de l'ensemble du corpus en lien avec les responsables de corpus</li>
          <li>
          Anne Garcia Fernandez et Sarah Gaucher ont formé les responsables de corpus aux requêtes XPath et les ont aidés à les formuler à la demande.</li>
          <li>
          Malika Bastin-Hammou a rédigé le PGD à 6 mois et 18 mois en collaboration avec Anne Garcia Fernandez et Pascale Paré.</li>
          <li>
          Emmanuelle Morlock a été consultée en tant qu'experte pour la rédaction du PGD.
          </li>
          <li>
          Le détail des travaux effectués par les stagiaires et vacataires figure dans les métadonnées des fichiers TEI.
          </li>
        </ul>

    </div>
{% endblock %}
