{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Liste des paratextes {% endblock %}

{% block body %}
<h1>
  Liste des paratextes
  {% if query is defined %}
  pour la requête <span class="text-muted">"{{query}}"</span>
  {% endif %}
</h1>

<a href="{{path("paratext_download")}}" class="float-right btn btn-secondary btn-sm">Télécharger</a>

<table data-order="[]" class="table table-striped">
  <thead>
    <tr>
      <th>Auteur</th>
      <th>Edition</th>
      <th>Titre</th>
      <th>Nom du fichier</th>
      <th>Dernière modification</th>
    </tr>
  </thead>
  <tbody>
  {% for paratext in paratexts %}
    {% set filename = paratext.originalFilename %}
    <tr>
        <td>
          {{paratext.edition.author.name}}
          <a href="{{ path('author_display', {id: paratext.edition.author.id}) }}">
            <i class="fas fa-external-link-alt fa-xs"></i>
          </a>
        </td>
        <td>
          {{paratext.edition.name}}
          <a href="{{ path('edition_display', {id: paratext.edition.id}) }}">
            <i class="fas fa-external-link-alt fa-xs"></i>
          </a>
        </td>
        <td>
            <a href="{{ path('paratext_public_display_short', {'originalFilename': filename}) }}">
              {{paratext.name}}
            </a>
            {% if is_granted("ROLE_ADMIN") %}
              {% if query is defined %}
              <a href="{{ path('paratext_display', {'originalFilename': filename, 'query': query, 'type': type }) }}">
              (Vue privée)
              </a>
              {% else %}
              <a href="{{ path('paratext_display', {'originalFilename': filename}) }}">
              (Vue privée)
              </a>
              {% endif %}
            {% endif %}
        </td>
        <td>
          {{ filename }}
        </td>
        <td>
          {% if paratext.lastUpload %}
            {{ paratext.lastUpload|date("d/m/Y à H:i:s") }}
          {% else %}
              -
          {% endif %}
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset("build/js/datatable.js") }}"></script>
{% endblock %}
