{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Recherche {% endblock %}

{% block body %}
<h1>Recherche</h1>

{{ form(form) }}

<div class="alert color-block">
  Il existe différentes façons de trouver des documents répondant à une requête : 
  <ul>
    <li class="mb-3">"Plein texte" cherche une correspondance de votre requête dans le XML (que ce soit dans les balises, leur nom, attributs, etc.). Cette recherche est insensible à la casse.
    </li>

    <li class="mb-3">
      "Expression régulière" vous permet de renseigner une expression régulière qui sera confrontée à l'intégralité du document XML (textes latin et français, résumé et notes compris). <br/> Par exemple, <b>/Horat[a-z]+/i</b>  trouvera la chaîne de caractère "Horat" (soit toutes les formes de la déclinaison d'Horatius) suivie d'un ou de plusieurs caractères allant de a jusqu'à z. <br/>
      <b>/\bact/</b> trouvera actus, acta, etc. mais pas factus, factus, jactus, etc <br/>
      <ul>
        <li>
          <a href="https://regex101.com/" target="_blank">regex101.com</a> (pour tester les expressions régulières)</a>
        </li>
        <li>
          <a href="https://fr.wikipedia.org/wiki/Expression_r%C3%A9guli%C3%A8re" target="_blank">page wikipedia</a>
        </li>
      </ul>
    </li>

    <li class="mb-3">
    "Xpath" permet de récupérer les documents répondant à une requête Xpath.<br/>Par exemple la requête <b>//title[contains(text(),'Nicolao')]</b> permet de générer une liste de paratextes dont l’élément Nicolao est contenu dans le titre; ou encore la requête <b>//ab[@type="orig"]//*[descendant::bibl/author[@ref="#hor"]]</b>
    cherchera dans les ab type="orig" - c'est-à-dire dans les segments du texte original - tous les éléments qui ont pour descendants un référencement bibliographique avec pour auteur Horace.
    </li>
  </ul>

  <p>Les recherches sont sensibles à la casse.</p>
  <p>Certaines occurrences dans les recherches donneront des résultats visibles seulement sur les vues privées</p>
</div>

{% endblock %}
