{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  {{"homepage"|trans}}
{% endblock %}

{% block body %}
  <div class="jumbotron p-4 color-block">
    <h2 class="display-1">
      Le Pensoir d'IThAC
    </h2>
    <h3 class="mb-4">« L’invention du théâtre antique dans le corpus des paratextes savants du XVIe siècle. Analyse, traduction, exploration numérique »</h3>
    <div class="row mb-4">
      <div class="col text-justify">
        <p>L’ANR IThAC a pour objectif l’étude de la réception du théâtre antique dans l’Europe du XVIe s. à travers l’analyse des paratextes savants imprimés qui lui sont alors consacrés, et la mise à disposition de la communauté scientifique de la
          traduction de ce corpus en français, grâce à la construction d’une interface numérique évolutive. On fait l’hypothèse que la collecte, la traduction et l’analyse de ce corpus, longtemps négligé parce que difficilement accessible matériellement et
          parce que très largement rédigé en latin, voire en grec, permettront de saisir à la fois comment le théâtre antique a été reçu et compris par ses « inventeurs » dans l’Europe du XVIe s., mais aussi comment les idées et les méthodes qu’ils véhiculent,
          à l’heure où s’inventaient aussi bien le théâtre moderne que la philologie, ont circulé et se sont développées grâce notamment à leur large diffusion rendue possible par l’imprimé.</p>
      </div>
      <div class="col">
        <img class="w-100" src="{{ asset('img/cropped-visuel-ITHAC-Gourmont-1-affiche-6.jpg') }}"/>
      </div>
    </div>
    <div>
      {% include('default/intro.html') %}
    </div>
    <p>Piloté par Malika Bastin-Hammou et mené en collaboration avec l’UMR HiSoMA autour d’une équipe de 15 chercheurs membres de Litt&Arts et d’HiSoMA, le projet a obtenu un financement de 48 mois par le plan d’action de l’ANR 2019
    </p>
  </div>
{% endblock %}
